---
layout: default
title: Oslo Gig Guide
---

<div class="grid_items">
  {% for card in site.data.events.events  %}
  <div class="col-sm-4">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title" id="{{ card.id }}">{{ card.venue }}</h3>
      </div>
      <div class="panel-body">
        {% if card.name %}
        <h4>
          {{ card.name }}
        </h4>
        {% endif %}
        {% if card.type %}
        <p class="resume-subheading">
          {{ card.type }}
        </p>
        {% endif %}
        {% if card.start_time %}
        <p class="resume-duration">
          {{ card.start_time | date: "%Y-%m-%d %H:%M" }}
        </p>
        {% endif %}
        {% if card.tags %}
        <p class="resume-location">
          {{ card.tags | join: ", " }}
        </p>
        <p class="resume-location">
          <a href="{{ site.baseurl }}/assets/calendars/{{ card.id }}.ics" }}">Calendar ICS</a>
        </p>
        {% endif %}
        <!-- <p> -->
        <!--   {{ card.details }} -->
        <!-- </p> -->
      </div>
    </div>
  </div>
  {% endfor %}
</div>
