---
layout: default
title: Oslo Gig Guide
---

<div class="grid_items">
  {% for card in site.data.events  %}
  {% assign event = card[1] %}
  <div class="col-sm-4">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title" id="{{ event.id }}">{{ event.venue }}</h3>
      </div>
      <div class="panel-body">
        {% if event.name %}
        <h4>
          {{ event.name }}
        </h4>
        {% endif %}
        {% if event.type %}
        <p class="resume-subheading">
          {{ event.type }}
        </p>
        {% endif %}
        {% if event.start_time %}
        <p class="resume-duration">
          {{ event.start_time | date: "%Y-%m-%d %H:%M" }}
        </p>
        {% endif %}
        {% if event.tags %}
        <p class="resume-location">
          {{ event.tags | join: ", " }}
        </p>
        <p class="resume-location">
          <a href="{{ site.baseurl }}/assets/calendars/{{ event.id }}.ics" }}">Calendar ICS</a>
        </p>
        {% endif %}
        <!-- <p> -->
        <!--   {{ event.details }} -->
        <!-- </p> -->
      </div>
    </div>
  </div>
  {% endfor %}
</div>
