---
layout: default
title: Oslo Gig Guide
---

<div class="grid_items">
  {% for id in site.data.sorted_events %}
  {% assign event = site.data.events[id] %}
  {% unless event %}
  {% continue %}
  {% endunless %}
  <div class="col-sm-4">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title" onclick="subscribe(event)" id="{{ id }}" data-name="{{ event.name }}">{{ event.venue }}</h3>
      </div>
      <div class="panel-body">
        <h4>{{ event.name }}</h4>
        {% if event.type %}
        <p class="resume-subheading">
          {{ event.type }}
        </p>
        {% endif %}
        {% if event.start_time %}
        <p class="resume-duration">
          {{ event.start_time | date: "%Y-%m-%d %H:%M" }}
        </p>
        {% endif %}
        {% if event.tags %}
        <p class="resume-location">
          {{ event.tags | join: ", " }}
        </p>
        {% endif %}
        <!-- <p> -->
        <!--   {{ event.details }} -->
        <!-- </p> -->
      </div>
    </div>
  </div>
  {% endfor %}
</div>
<input id="user" name="user" type="text" placeholder="Username" value="">
<input id="token" name="token" type="password" placeholder="Token" value="">
<input type="button" onclick="load()" value="Load">

<script src="assets/js/subscription.js" defer></script>
